<div class="indexTitle margin">
Welcome to the famous page blog whitout importance
</div>

<% @users.each do |user| %>
    <div class="container user">
      <div class="userPhoto margin"><%= image_tag("#{user.photo}", alt: 'Profile picture') %>
      </div>
      <div class="userInfo margin">
        <h2><%= link_to user.name, user %></h2>
        <p><%= "Number of posts: #{user.posts_counter}"%></p>
      </div>
    </div>
<% end %>