/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 30px;
    flex-direction: row;
  }

  .margin {
    padding: 8px;
    border: 2px solid rgb(95, 93, 93);
    margin-bottom: 5px;
  }

  .button_footer {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }

/* user index template */

  .user {
    justify-content: space-around;
    display: flex;
  }
  
  .userPhoto {
    width: 25%;
    margin-right: 3%;
    text-align: center;
  }
  
  .userInfo {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .userInfo p {
    align-self: flex-end;
  }

  /* user show template */

  .bio {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-bottom: 25px;
  }

  .posts {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }

  .posts i{
    margin-left: auto;
  }

    /* post show template */

  .desc {
    flex-direction: column;
  }  

  .desc i{
    margin-left: auto;
  }